{{NAME}}
{{POSITION}}
{{COMPANY_NAME}}

Tel:    {{PHONE}}
E-Mail: {{EMAIL}}
Web:    {{WEBSITE_FULL}}

{{STREET}}
{{ZIP_CITY}}

{{LEGAL_FORM}} | GF: {{GF_NAME}}
{{REGISTERGERICHT}} | {{HRB}}
USt-IdNr.: {{UST_ID}}

--
Hinweis: Diese E-Mail und etwaige Anhänge sind ausschließlich für den bezeichneten Empfänger bestimmt.
